doctype html 
html
  head 
    title welcome to hidans answers
    link(type="text/css" rel="stylesheet" href="/css/bootstrap.min.css")
  body
    .container
      a(href="/") Home
      | |
      a(href="/questions/new") New Question
      | |
      hr
      != body
      
